<section class="container adventeges-section">
  <h2 class="visually-hidden">Adventures</h2>
  <div class="adventeges-list-conteiner">
    <div class="adventeges-list">
      <ol class="adventeges-number-list">
        <li class="adventeges-item">
          <div class="rounded-recrangle-adventures"></div>
          <p class="adventeges-item-text">
            Swimming and water sports: try your hand at water skiing
          </p>
        </li>
        <li class="adventeges-item">
          <div class="rounded-recrangle-adventures"></div>
          <p class="adventeges-item-text">
            Fishing: try to catch your own dinner
          </p>
        </li>
        <li class="adventeges-item">
          <div class="rounded-recrangle-adventures"></div>
          <p class="adventeges-item-text">
            Sightseeing tours: take a shore or island tour, enjoy the views and
            sunsets from the water
          </p>
        </li>
        <li class="adventeges-item">
          <div class="rounded-recrangle-adventures"></div>
          <p class="adventeges-item-text">
            Rest and relaxation: read a book or listen to music while enjoying
            the outdoor atmosphere.
          </p>
        </li>
      </ol>
    </div>

    <picture>
      <source
        srcset="
          ./img/adventures-mob@1x.png 1x,
          ./img/adventures-mob@2x.png 2x
        "
        media="(max-width:768px)"
      />
      <source
        srcset="
          ./img/adventures-tab@1x.png 1x,
          ./img/adventures-tab@2x.png 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./img/adventures-desk@1x.png 1x,
          ./img/adventures-desk@2x.png 2x
        "
        media="(min-width:1280px)"
      />
      <img
        class="adventeges-photo"
        src="./img/adventures-mob@1x.png"
        alt="yacht photo"
        width="335"
      />
    </picture>
  </div>
</section>
