<section class="yacht-section" id="yachts">
    <h2>Choose your dream yacht and sail away into the sunset</h2>
    <div class="cards-container">
      <ul class="list-cards">
        <li class="list-item">
            <picture class="yacht-image">
              <source
                srcset="
                  ./img/webp/images/yacht-laptop-1x-1.jpg 1x,
                  ./img/webp/images/yacht-laptop-2x-1.jpg 2x
                "
                width="345" height="268"
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/webp/images/yacht-tablet-1x-1.jpg 1x,
                  ./img/webp/images/yacht-tablet-2x-1.jpg 2x
                "
                width="302" height="240"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/webp/images/yacht-mobile-1x.jpg 1x,
                  ./img/webp/images/yacht-mobile-2x.jpg 2x
                "
                width="302" height="240"
                media="(max-width: 767px)"
              />
              <img
                src="./img/webp/images/yacht-mobile-1x.jpg"
                alt="Yacht 1"
              />
            </picture>
            <div class="yacht-info">
              <div class="yacht-header">
                <p class="yacht-name">ARROW</p>
                <p class="yacht-category">LUXURY YACHTS</p>
              </div>
              <div class="yacht-details">
                <div class="detail-labels">
                  <p>LENGTH</p>
                  <p>BUILDER</p>
                  <p>BUILT</p>
                  <p>GUESTS</p>
                  <p>PRICE</p>
                </div>
                <div class="detail-values">
                  <p>48m (155ft)</p>
                  <p>Admiral</p>
                  <p>2021</p>
                  <p>11 in 5 cabins</p>
                  <p>€33,500,000</p>
                </div>
              </div>
            </div>
        </li>
        <li class="list-item">
          <picture class="yacht-image">
            <source
              srcset="
                ./img/webp/images/yacht-laptop-1x-2.jpg 1x,
                ./img/webp/images/yacht-laptop-2x-2.jpg 2x
              "
              width="345" height="268"
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/webp/images/yacht-tablet-1x-2.jpg 1x,
                ./img/webp/images/yacht-tablet-2x-2.jpg 2x
              "
              width="302" height="240"
              media="(min-width: 768px)"
            />
            <img src="/src/img/jpg/yacht-tablet-1x-2.jpg" alt="Yacht-2" />
          </picture>
          <div class="yacht-info">
            <div class="yacht-header">
              <p class="yacht-name">BENETTI OASIS 40M BO122</p>
              <p class="yacht-category">LUXURY YACHTS</p>
            </div>
            <div class="yacht-details">
              <div class="detail-labels">
                <p>LENGTH</p>
                <p>BUILDER</p>
                <p>BUILT</p>
                <p>GUESTS</p>
                <p>PRICE</p>
              </div>
              <div class="detail-values">
                <p>41m (133ft)</p>
                <p>Benetti</p>
                <p>2025</p>
                <p>10 in 5 cabins</p>
                <p>€23,210,000</p>
              </div>
            </div>
          </div>
        </li>
        <li class="list-item">
          <picture class="yacht-image">
            <source
              srcset="
                ./img/webp/images/yacht-laptop-1x-3.jpg 1x,
                ./img/webp/images/yacht-laptop-2x-3.jpg 2x
              "
              width="345" height="268"
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/webp/images/yacht-tablet-1x-3.jpg 1x,
                ./img/webp/images/yacht-tablet-2x-3.jpg 2x
              "
              width="302" height="240"
              media="(min-width: 768px)"
            />
            <img src="./img/jpg/yacht-laptop-1x-3.jpg" alt="Yacht-3" />
          </picture>
          <div class="yacht-info">
            <div class="yacht-header">
              <p class="yacht-name">BBELLE ANNA</p>
              <p class="yacht-category">LUXURY YACHTS</p>
            </div>
            <div class="yacht-details">
              <div class="detail-labels">
                <p>LENGTH</p>
                <p>BUILDER</p>
                <p>BUILT</p>
                <p>GUESTS</p>
                <p>PRICE</p>
              </div>
              <div class="detail-values">
                <p>50m(155ft)</p>
                <p>ISA</p>
                <p>2012</p>
                <p>12 in 6 cabins</p>
                <p>€21,000,000</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="button-container">
        <div class="hover-btn-placeholder">
          <a href="#rentyacht" class="btn">Yacht rental</a>
        </div>
      </div>
    </div>
</section>
