.yacht-section {
  padding: 80px 20px;
  background: #0e1823;
}

.yacht-section h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.02em;
  display: block;
  text-align: center;
  color: #fbfbfb;
  margin: 0 auto 40px auto;
}

@media (max-width: 375px) {
  h2 {
    max-width: 290px;
  }
}

@media (min-width: 376px) and (max-width: 1279px) {
  h2 {
    max-width: 350px;
  }
}

@media (min-width: 1280px) {
  h2 {
    max-width: 360px;
  }
}

.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.list-cards {
  display: flex;
  list-style: none;
  gap: 25px;
  justify-content: center;
  align-items: center;
}

.list-item {
  background: #fbfbfb;
  max-width: 335px;
  border-radius: 24px;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-item:hover {
  transform: translateY(-5px);
}

.yacht-image {
  border-radius: 24px;
  object-fit: cover;
  display: block;
  margin-bottom: 32px;
}

@media (max-width: 375px) {
  .list-item {
    display: none;
  }

  .list-item:first-child {
    display: block;
  }
}

@media (min-width: 376px) and (max-width: 767px) {
  .list-item {
    display: none;
  }

  .list-item:first-child {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .cards-container {
    gap: 50px;
  }

  .list-cards {
    gap: 32px;
  }

  .list-item {
    display: none;
  }

  .list-item:nth-child(1),
  .list-item:nth-child(2) {
    display: block;
    max-width: 336px;
  }

  .list-item:nth-child(3) {
    display: none;
  }
}

@media (min-width: 1280px) {
  .list-item {
    display: block;
  }

  .list-cards {
    gap: 25px;
  }
}

@media (min-width: 1440px) {
  .list-cards {
    gap: 32px;
  }
}

.yacht-info {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  box-sizing: border-box;
}

.yacht-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.yacht-header:after {
  content: '';
  position: absolute;
  bottom: -16px;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgba(4, 3, 6, 0.1);
}

.yacht-header .yacht-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 118%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #1b414b;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (min-width: 768px) {
  .yacht-header .yacht-name {
    font-size: 16px;
    line-height: 120%;
    max-width: 147px;
  }
}

@media (min-width: 1280px) {
  .yacht-header .yacht-name {
    max-width: 177px;
  }
}

.yacht-category {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #040306;
  opacity: 0.4;
}

.yacht-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.detail-labels,
.detail-values {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.detail-labels p,
.detail-values p {
  font-size: 14px;
  white-space: nowrap;
}

.detail-labels p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 118%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #040306;
  opacity: 0.4;
}

.detail-values p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 118%;
  letter-spacing: 0.03em;
  color: #040306;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(251, 251, 251, 0.35);
  border-radius: 15px;
  width: 141px;
  height: 46px;
  cursor: pointer;
}

.hover-btn-placeholder {
  width: 139px;
  height: 43px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  background: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-container:hover .hover-btn-placeholder,
.button-container:focus .hover-btn-placeholder {
  background: #fbfbfb;
}

.button-container:hover .btn,
.button-container:focus .btn {
  color: #1b414b;
}

@media (min-width: 768px) {
  .button-container {
    width: 179px;
    height: 52px;
  }

  .hover-btn-placeholder {
    width: 176px;
    height: 49px;
  }

  .btn {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 110%;
    letter-spacing: -0.02em;
  }
}
