/* .ihor-trachuk-hidden,
.victoria-romashenko-hidden {
  display: none;
} */
/* .reviews .container {
  display: flex;
  gap: 20px;
  justify-content: center;
} */

.container-workers-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
}

.service-reviews-text {
  max-width: 335px;
  text-align: center;
  font-weight: 500;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 25px;
}

.service-description {
  max-width: 313px;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  opacity: 0.4;
  margin-bottom: 40px;
}

.reviews-item {
  border-radius: 24px;
  padding: 32px 8px;
  width: 335px;
  /* height: 282px; */
  background-color: #fbfbfb;
}
.reviews-item-image {
  margin: 0 auto;
}

.reviews-subtitle {
  margin-top: 24px;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #040306;
}

.reviews-subtitle-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(4, 3, 6, 0.4);
}

@media only screen and (min-width: 768px) {
  .container-workers-info {
    padding-bottom: 150px;
  }

  .service-reviews-text {
    max-width: 704px;
    text-align: center;
    font-weight: 500;
    font-size: 48px;
  }

  .service-description {
    margin: 0 auto;
    max-width: 543px;
    text-align: center;
    font-size: 14px;
    line-height: 129%;
    margin-bottom: 75px;
  }

  .reviews-list {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin: 0 auto;
  }

  .reviews-item {
    background-color: #fbfbfb;
    border-radius: 24px;
    padding: 32px 8px;
    width: 336px;
    /* height: 282px; */
  }
}

@media only screen and (min-width: 1280px) {
  .service-reviews-text {
    max-width: 854px;
    font-weight: 500;
    font-size: 48px;
  }
  .reviews-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 26px;
  }

  .reviews-item {
    width: calc((100% - 52px) / 3);
    border-radius: 24px;
    padding: 32px 28px;
    width: 376px;
    /* height: 282px; */
    background-color: #fbfbfb;
  }
}

/* @media only screen and (min-width: 768px) {
  .ihor-trachuk-hidden,
  .victoria-romashenko-hidden {
    display: none;
  }
} */

@media (min-width: 1px) and (max-width: 767px) {
  .ihor-trachuk-hidden,
  .victoria-romashenko-hidden {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .ihor-trachuk-hidden {
    display: none;
  }
}
