/* #region Общие */
/* #endregion Общие */
/* #region ABOUT US */
/* mob */
.about {
    border-radius: 24px;
    background-color: transparent;
    background: linear-gradient(#fbfbfb, transparent);
    width: 335px;
}

.about-us {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-us-container {
    text-align: left;
    padding: 40px 20px;
    border-radius: 24px;
    
    border: none;
    display: flex;
    flex-direction: column;
}

.title-about {
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #1b414b;
}

.text-subcontainer-about {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 40px auto 0;
}

.text-one-about {
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #1b414b;
}

.text-second-about {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: -0.02em;
    color: #040306;
    opacity: 0.4;
}

.premium-yacht-img {
    border-radius: 24px;
    display: cover;
}

/* tab */
@media screen and (min-width: 768px) {
    .title-about {
        font-size: 48px;
        width: 536px;
        margin-left: 32px;
    }

    .text-subcontainer-about {
        margin: 50px auto auto 32px;
        width: 389px;
    }

    .text-one-about {
        font-size: 23px;
    }

    .text-second-about {
        font-size: 13px;
        line-height: 1.15;
    }

    .about {
        width: 704px;
    }
}

/* desktop */
@media screen and (min-width: 1280px) {
    .title-about {
        margin: 50px auto auto 50px;
        width: 537px;
    }

    .text-subcontainer-about {
        margin: 50px 50px auto;
        width: 354px;
    }

    .about-us-container {
        flex-direction: row;
        align-items: flex-start;
    }
    .about {
        width: 1180px;
    }
}

/* #endregion ABOUT US */
